
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.logo{
  width: 410px;
  height: 60px;
}
.headphon{
  grid-area: logo-1;
}
.device{
  grid-area: logo-2;
}
.location{
  grid-area: logo-3;
}
.bolt{
  grid-area: logo-4;
}
.resource{
  grid-area: logo-5;
}

body{
  font-family:"Inter Tight", sans-serif;
  overflow-x:hidden;
  background:#0f071a;
}


.btn{
  background: linear-gradient(to right,#adb62b,#aa08b5);
  color:white;
  padding:.7rem 1.5rem;
  border-radius:9999px;
  border:none;
  cursor:pointer;
}

.sub{
  background:transparent;
  border:2px solid #00FF88;
  color:#00FF88;
  border-radius:9999px;
  padding:.7rem 1.5rem;
  cursor:pointer;
}


.nav-bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:64px;
  background:#1A0B2E;
  padding-inline:clamp(1rem,6vw,12.5rem);
}

.logo .tech{
  color:white;
  font-size:1.6rem;
}

.logo span{
  background:linear-gradient(to right,#F7E93F,#FB09B4,#9100F8);
  -webkit-background-clip:text;
  color:transparent;
}

.list{
  display:flex;
  list-style:none;
  gap:1.9rem;
}

.list li a{
  text-decoration:none;
  color:white;
  font-size:1rem;
}

.nav-img{
  display:none;
}


.hero{
  width:100%;
}

.containar{
  position:relative;
  max-width:1600px;
  margin:auto;
  min-height:calc(100vh - 64px);
  display:flex;
  justify-content:center;
  align-items:center;
}


.box{
  position:absolute;
}


.bg{
  inset:0;
  z-index:1;
}
.bg img{
  width:100%;
  height:100%;
  object-fit:cover;
}


.curcle{
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:4;
}


.mic{
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:6;
}


.hero-tech p{
 color: #FFFFFF;
 font-size: 16px;
 padding-bottom: 24px;
}

.hero-tech h3{
  font-size:3.5rem;
  color:white;
  line-height:1.1;
  padding-bottom: 8px;
}

.hero-tech{
  position:relative;
  z-index:5;
  text-align:center;
  max-width:600px;
  margin-top:500px;
}
.hero-brake{
  display: none;
}


.but{
  display:flex;
  justify-content:center;
  gap:1rem;
}
.write{
  padding: 50px 200px 150px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 20px;
}

.write h3{
  font-size: 3rem;
  color: #FFFFFF;
}

.write p{
  font-size: 1rem;
  color: #FFFFFF;
}

.card h2{
  font-size: 3rem;
  color: #00FF88;
}
.About-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  border-top: 1px solid #ffffff28;
  margin-top: 80px;
  padding-top: 80px;

}
.icon{
  width: 60px;
  height: 60px;
}
.why-all{
  padding: 120px 200px;
}
.Why{
  display: grid;
  place-items: center;
}
.Why h3{
  font-size: 48px;
  color: #FFFFFF;
  padding-bottom: 40px;
}
.y-div{
  display: grid;
  grid-template-areas: 
  "logo-1 logo-2 logo-2"
  "logo-1 logo-3 logo-3"
  "logo-4 logo-4 logo-5";
  gap: 30px;
}
.y-div div{
   background-color: #351165;
  border: #351165;
  border-radius: 40px;
  padding: 40px;
   display: grid;
  justify-items: start;
  align-items: center;
  color: #FFFFFF;
}
.y-div div h2{
  margin-top: 16px;
  margin-bottom: 16px;
}


.vid-sec{
  padding: 120px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vid-titel h3{
  font-size: 48px;
  color: #FFFFFF;
  padding-bottom: 40px;
}

.vid{
  display: flex;
  gap: 30px;
  

}
.vid div{
  display: flex;
  flex-direction: column;
  background-color: #250D44;
  border: 0px;
  border-radius: 24px;
  margin: 0px;
  width: 380px;
}

.vid .vid-t{
  padding: 24px;
}
.vid-t h1{
  font-size: 24px;
  color: #FFFFFF;
  padding-bottom: 12px;
}
.vid-t .p{
  font-size: 16px;
  color: #FFFFFF;
  padding-bottom: 12px;
  font-weight: 400;
}
.vid-t .i{
  font-size: 16px;
  font-weight: 600;
  color: #00FF88;
  display: flex;
  gap: 6px;
}
.vid-titel{
  padding-top: 120px;
  padding-bottom: 40px;
}
.host{
  padding: 40px;
  background-color: #250D44;
  border: 0px;
  border-radius: 24px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.host h1{
  font-size: 32px;
  padding-bottom: 16px;
}
.host p{
  font-size: 16px;
  padding-bottom: 16px;
}
.icon-1{
  display: flex;
  gap: 8px;
}
.icon-0{
  border: 1px solid #533C72;
  border-radius: 9999px;
  padding: 12px;
}
.alex h1{
  font-size: 32px;
  color: #FFFFFF;
}
.alex p{
  font-size: 16px;
  color: #FFFFFF;
}

.foot{
  background-image: url(image/assets/footer-bg.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 120px;
}
.foot div{
  display: grid;
   grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.foot p{
  display: flex;
  color: #FFFFFF;
  gap: 2.5px;
}

.badge{
  z-index: 15;
  background-color: #00FF88;
  padding: 8px 16px;
  border: #00FF88;
  border-radius: 16px;
  top: 25%;
  left: 57%;
  animation: pulse 1s infinite ;
  
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}


@media (max-width:576px){

    .hero-tech{
    margin: top 150px;
  }
  .list{
    display:none;
  }
  .nav-img{
    display:block;
  }
  .btn{
    display:none;
  }
  .nav-bar{
    padding:0 1.5rem;
  }
  .containar{
    min-height:auto;
    padding:4rem 0;
  }
.bg{
  width: 100%;
  max-width: 576px;
  padding: 0%;
  margin: 0%;
}
  .curcle{
     top:38%;
    left:55%;
    transform:translate(-50%,-50%);
  }
  .mic{
    top:40%;
    left:53%;
    transform:translate(-50%,-50%);
  }
  .curcle img{
    width: 79%;
  }
  .mic img{
    width:70%;
  }
  .hero-tech h3{
    font-size:2.1rem;
  }
  .hero-tech p{
    font-size:.9rem;
  }
  .hero-brake{
    display: block;
  }
  .but{
    flex-direction: row;
  }
  .but .btn{
    display:inline-block;
  }
  .write{
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 20px 40px 20px;
  align-items: center;
  text-align: center;


}
.write h3{
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #FFFFFF;
}
.write p{
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: normal;
}
.About-card{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 40px;
  border-top: 1px solid #ffffff28;
  margin-top: 80px;
  padding-top: 80px;

}
.why-all{
  padding: 40px 20px 40px 20px;
}
.Why h3{
  font-size: 32px;
  padding-bottom: 16px;
}
.y-div {
  gap: 24px;
   grid-template-areas: 
   "logo-1"
   "logo-2"
   "logo-3"
   "logo-4"
   "logo-5";
  
 
}
.why-all{
  justify-content: center;
  align-items: center;
}
.cen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vid{
  flex-direction: column;
}
.host{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vid-titel h3{
  font-size: 32px;
}
.h{
  font-size: 24px;
}
.vid-titel{
  width: 400px;
}
.foot div{
   grid-template-columns: repeat(2, 2fr);
   gap: 16px;


}


}