body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

.btn {
  background: linear-gradient(to right, #adb62b, #aa08b5);
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 9999px;
  transition: 0.4s;
}

.nav-bar{
   display: flex;
   justify-content: space-between;
   background-color: #1A0B2E;
   padding: 0 12.5rem;
   align-items: center;
   font-size: 2rem;
}

.logo span {
  font-size: 1.75rem;
  font-weight: bold;   
  font-size: 2rem;
  background: linear-gradient(to right,
    #F7E93F,
    #FB09B4,
    #9100F8
  );  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}
.logo .tech{
    color: white;
}
  
 

.list{
    display: flex;
    list-style: none;
    gap: 1.9rem;
}

.list li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    
}

img{
  display: none;
}

@media screen and (max-width: 576px) {
  body{
    width: 576px;
    max-width: 100%;
  }
  .list {
    display: none;
  }
  .btn{
    display: none;
  }
 img{
  display: block;
 }
 .nav-bar{
  padding: 1rem 1.7rem;
  height: 3.8rem;
 } 

}